
<section class="content" style="margin-left:20px; margin-right:20px; padding-top:25px;">

    <div class="box box-primary">
        <div class="box-body" style="padding-top:20px; padding-bottom:10px; border-left:1px solid #cccccc; border-right:1px solid #cccccc; text-align:center;">
                    
            <br>
            <span style="font-size:25px;"><b>Gestor de citas</b></span>
            <br><br>
            <span style="font-size:18px;">
                Selecciona una opción del menu superior
            </span>
            <br><br>

        </div>
    </div>

</section>