<section class="content" style="margin-left:20px; margin-right:20px; padding-top:25px;">

    <form id="form-documents" action="/documents/new/save.php" method="post" enctype="multipart/form-data">

        <div class="box box-primary">
              <div class="box-body" style="padding-top:20px; border-left:1px solid #cccccc; border-right:1px solid #cccccc;">
                <!--
                <?php if (isset($_REQUEST["errorUpload"])) { ?>
                    <div class="alert alert-danger">
                        Ha ocurrido un error al subir el Fichero
                    </div>
                <?php } ?>
                -->

                <div class="form-group" style="padding-left:10px;">
                    <label for="file-name" style="margin-right:10px;">Nombre</label>
                    <input id="file-name" type="text" class="form-control" name="f[name]" required />
                </div>
                
                <div class="form-group" style="padding-left:10px;">
                    <label for="file-filename" style="margin-right:10px;">Fichero</label>
                    <input id="file-filename" type="file" class="form-control" name="file" required />
                </div>
            </div>

            <div class="form-group" style="padding-left:10px; margin-top: 10px;">
                <div class="col-xs-12" style="padding-left:0px;">
                            
                    <button class="btn btn-success" style="float: right; margin-left: 5px;"><i class="fa fa-save" style="margin-right:5px;"></i> Alta documento</button>
                    <a href="/documents" class="btn btn-default" style="float: right;">Atrás</a>
                    
                </div>
            </div>

        </div>

    </form>

</section>