<header class="main-header" style="z-index:10;">
    <a href="/" class="logo">
		<img src="/assets/img/logo.jpg" width="35" height="35" style="margin-top:-4px;">
	</a>

	<nav class="navbar navbar-static-top" role="navigation">
		<div class="navbar-custom-menu" style="float:left; border-left:1px solid #eee; border-right:1px solid #eee; font-size:14px;">
			<ul class="nav navbar-nav">
                <li *roles="'1,2,3,4,5,6'">
                	<a href="/bookings" class="{{ (isSelected('bookings')) ? 'selected' : '' }}">
                		<i class="fa fa-address-book"></i><span class="hidden-xs">Citas</span>
                	</a>
				</li>
				<!--
				<li *roles="'1,2'" class="dropdown messages-menu">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" >
						<i class="far fa-newspaper"></i><span class="hidden-xs">Informes</span>
					</a>
            		<ul class="dropdown-menu">
              			<li>
                			<ul class="menu">
                				<li>
                					<a href="/report/" <?php if ( $page == 'report' ) { ?>class="selected"<?php } ?>>
                						<i class="fas fa-clipboard-list"></i><span class="hidden-xs">Informe</span>
                					</a>
                				</li>  
                				<li>
                					<a href="/reporting/" <?php if ( $page == 'reporting' ) { ?>class="selected"<?php } ?>>
                						<i class="fas fa-chart-bar"></i><span class="hidden-xs">Reporting</span>
                					</a>
                				</li>
                				
                				<li>
                					<a href="/applied/" <?php if ( $page == 'applied' ) { ?>class="selected"<?php } ?>>
                						<i class="fab fa-cloudscale"></i><span class="hidden-xs">Seguimiento de reservas</span>
                					</a>
                				</li>
                				
                			</ul>
              			</li>

					</ul>
				</li>
				  
				<li *roles="'3,4,5,6'" class="dropdown messages-menu">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" >
						<i class="far fa-newspaper"></i><span class="hidden-xs">Informes</span>
					</a>
            		<ul class="dropdown-menu">
              			<li>
                			<ul class="menu">
                				<li>
                					<a href="/report/" {{ (isSelected('report')) ? 'selected' : '' }}>
                						<i class="fas fa-clipboard-list"></i><span class="hidden-xs">Informe</span>
                					</a>
                				</li>  
                				<li>
                					<a href="/reporting/" {{ (isSelected('bookings')) ? 'reporting' : '' }}>
                						<i class="fas fa-chart-bar"></i><span class="hidden-xs">Reporting</span>
                					</a>
                				</li>
                			</ul>
              			</li>

            		</ul>
				</li>
				-->

				<li>
                	<a href="/documents" class="{{ (isSelected('documents')) ? 'selected' : '' }}">
                		<i class="fa fa-file"></i><span class="hidden-xs">Documentación</span>
                	</a>
                </li> 
				
				<li>
                	<a href="/reporting/" class="{{ (isSelected('reporting')) ? 'selected' : '' }}">
                		<i class="fa fa-file"></i><span class="hidden-xs">Reporting</span>
                	</a>
                </li> 

				<!--
				<?php
				/*
					if ( $me->rolId == 4 )
					{ 
						$db_shop = new db_shop();
						
							$db_shop->userId = $me->id;
						
						$db_shop = $db_shop->get_by_userId();
						
						if ( $db_shop->id > 0 )
						{
							?>
								<li>
									<a href="/shop/" style="{{ (isSelected('shopsList') || isSelected('shopsItem')) ? 'color:#4ba82e; background-color:#fcfcfc;' : '' }}">
										<i class="fa fa-building" style="font-size:13px;"></i><b class="hidden-xs" style="margin-left:10px; font-size:16px;">Concesionario</b>
									</a>
								</li>
							<?php 
						}
					}
					*/

				?>
				 
				<li *roles="'1,2,4'">
					<a href="/sellers/" style="{{ (isSelected('sellersList') || isSelected('sellersItem')) ? 'color:#4ba82e; background-color:#fcfcfc;' : '' }}">
						<i class="fa fa-briefcase" style="font-size:13px;"></i><b class="hidden-xs" style="margin-left:10px; font-size:15px;">Asesores comerciales</b>
					</a>
				</li>
				
				<li *roles="'1,2,3,4'">
					<a id="linkReports" style="{{ (isSelected('reports')) ? 'color:#4ba82e; background-color:#fcfcfc;' : '' }}" href="/reports/">
						<i class="fa fa-clipboard" style="font-size:13px;"></i><b class="hidden-xs" style="margin-left:10px; font-size:16px;">Informes</b>
					</a>
				</li>
				
				<li *roles="'1,2'">
					<a id="linkReporting" style="{{ (isSelected('reporting')) ? 'color:#4ba82e; background-color:#fcfcfc;' : '' }}" href="/reports/" href="/reporting/">
						<i class="fa fa-line-chart" style="font-size:13px;"></i><b class="hidden-xs" style="margin-left:10px; font-size:16px;">Reporting</b>
					</a>
				</li>
				
				<li *roles="'1,2,3,4,5'">
					<a id="linkBooking" style="{{ (isSelected('booking')) ? 'color:#4ba82e; background-color:#fcfcfc;' : '' }}" href="/reports/" href="/bookings/">
						<i class="fa fa-address-book" style="font-size:13px;"></i><b class="hidden-xs" style="margin-left:10px; font-size:16px;">Citas</b>
					</a>
				</li>
				-->
				<!--  
				<li *roles="'1,2'">
					<a id="linkReports" href="/availability/" style="{{ (isSelected('availability')) ? 'color:#4ba82e; background-color:#fcfcfc;' : '' }}" href="/reports/">
						<i class="fa fa-calendar-check-o" style="font-size:13px;"></i><b class="hidden-xs" style="margin-left:10px; font-size:16px;">Slots disponibles</b>
					</a>
				</li>
				-->
			</ul>
    	</div>

 		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
                <li *roles="'1,2'" class="dropdown messages-menu" dropdown>
					<a href="javascript:;" id="config-campana-btn" class="dropdown-toggle" aria-controls="dropdown-basic" dropdownToggle>
                        <i class="fa fa-cogs"></i><span class="hidden-xs">Configuración de la Campaña</span>
                    </a>
							
                    <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="config-campana-btn">
                        <li role="menuitem">
                            <ul class="menu">
                                <!--
                                <li>
                                    <a href="/vehicles/" class="{{ (isSelected('vehicles')) ? 'selected' : '' }}">
                                        <i class="fa fa-car"></i><span class="hidden-xs">Vehículos</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/drivers/" class="{{ (isSelected('drivers')) ? 'selected' : '' }}">
                                        <i class="far fa-id-card"></i><span class="hidden-xs">Drivers</span>
                                    </a>
                                </li>
                                -->
                                <li>
                                    <a href="/areas/" class="{{ (isSelected('areas')) ? 'selected' : '' }}">
                                        <i class="fa fa-map-signs"></i><span class="hidden-xs">Zonas</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/dealers/" class="{{ (isSelected('dealers')) ? 'selected' : '' }}">
                                        <i class="fa fa-building"></i><span class="hidden-xs">Concesionarios</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/dealerships/" class="{{ (isSelected('dealerships')) ? 'selected' : '' }}">
                                        <i class="fa fa-warehouse"></i><span class="hidden-xs">Instalaciones</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/sellers/" class="{{ (isSelected('sellers')) ? 'selected' : '' }}">
                                        <i class="fa fa-briefcase"></i><span class="hidden-xs">Asesores comerciales</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/schedule/" class="{{ (isSelected('schedule')) ? 'selected' : '' }}">
                                        <i class="fas fa-th"></i><span class="hidden-xs">Agenda</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                	
                <li *roles="'3,4'">
                    <a href="/schedule/" class="{{ (isSelected('schedule')) ? 'selected' : '' }}">
                        <i class="fas fa-th"></i><span class="hidden-xs">Agenda</span>
                    </a>
                </li>
					
				<!--
				<li *roles="'4'">
					<a href="/vehicles/" <?php if ( $page == 'vehicles' ) { ?>class="selected"<?php } ?>>
						<i class="fa fa-car"></i><span class="hidden-xs">Vehículos</span>
					</a>
				</li>
				-->
		
				<li *roles="'4'">
					<a href="/sellers/" class="{{ (isSelected('sellers')) ? 'selected' : '' }}">
						<i class="fa fa-briefcase"></i><span class="hidden-xs">Asesores comerciales</span>
					</a>
				</li>
                	
				<li *roles="'3,4'">
					<a href="/dealerships/" class="{{ (isSelected('dealerships')) ? 'selected' : '' }}">
						<i class="fa fa-warehouse"></i><span class="hidden-xs">Instalaciones</span>
					</a>
				</li>
                	
				<li *roles="'3'">
					<a href="/dealers/" class="{{ (isSelected('dealers')) ? 'selected' : '' }}">
						<i class="fa fa-building"></i><span class="hidden-xs">Concesionarios</span>
					</a>
				</li>

				<li *roles="'1,2'" class="dropdown tasks-menu" dropdown>
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" dropdownToggle>
						<i class="fa fa-sitemap"></i><span class="hidden-xs">Administración CMS</span>
					</a>
            		<ul class="dropdown-menu" *dropdownMenu>
              			<li>
                			<ul class="menu">
                  				<li>
                    				<a href="/accounts/" class="{{ (isSelected('accounts')) ? 'selected' : '' }}">
                    					<div style="float:left; padding-top:3px; width:15px;"><i class="fa fa-users"></i></div><span class="hidden-xs">Usuarios</span>
                    				</a>
                  				</li>
                				<li *roles="'1'">
                					<a href="/lab/" class="{{ (isSelected('lab')) ? 'selected' : '' }}">
                						<div style="float:left; padding-top:3px; width:15px;"><i class="fa fa-flask"></i></div><span class="hidden-xs">LAB</span>
                					</a>
                				</li>
                			</ul>
              			</li>

            		</ul>
				  </li>
				
				  <li class="dropdown user user-menu" dropdown>
					  <!--
						<?php
			
						$username = '';
		
							if ( ( $me->name != '' ) || ( $me->surname != '' ) )
							{
								$username = $me->name.' '.$me->surname;
							}
							else 
							{
								$username = $me->email;
							}
										
						?>-->
		              
		            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" style="border-right:1px solid #eee;" dropdownToggle>
		            	<img [src]="logoUrl" class="user-image" alt="User Image">
						<span>{{ username }}</span>
		            </a>
					<ul class="dropdown-menu" *dropdownMenu>
		        		<li class="user-header" style="background-color:#444; margin-top:-1px;">
		                	<img [src]="logoUrl" class="img-circle" alt="User Image">
		                    <p>
				            	{{ username }}
				                <small>{{ companyName }}</small>
		                    </p>
		               	</li>
						<li class="user-footer">
		                	<div style="width:100%; text-align:right;">
		                    	<!--<?php
		                    		if ( $me->rolId == 2 ) { } 
		                    		if ( $me->rolId == 3 ) { }
		                    	?>-->
		                     	<a href="/profile/" class="btn btn-default btn-flat font_bold" style="float:left; text-align:center; width:49%; font-size:11px; margin-top:5px; background-color:#4ba82e; color:#ffffff; border-radius: 4px;"><i class="fa fa-user" style="margin-right:10px;"></i>Mi perfil</a>
		                     	<a href="javascript:;" (click)="logout()" class="btn btn-default btn-flat font_bold" style="float:right; text-align:center; width:49%; font-size:11px; margin-top:5px; background-color:#4ba82e; color:#ffffff; border-radius: 4px;"><i class="fa fa-sign-out" style="margin-right:10px;"></i>Salir</a>
		                	</div>
		           		</li>
					</ul>
            	</li>
        	</ul>
    	</div>
	</nav>
</header>
<div id="cover" style="position:fixed; background-color:black; top:0; width:100%; height:100%; z-index:99; display:none; opacity: 0.5; filter: alpha(opacity=50);"></div>
<div id="coverLoading" style="position:fixed; background-color:black; text-align:center; top:0; width:100%; height:100%; z-index:99; display:none; opacity: 0.5; filter: alpha(opacity=50);"><img src="/img/loading.svg" style="margin:auto; margin-top:60px;"></div>

<!--
<?php 

    if ( $me->isDriver ) {
        
        $hasTestOpened = 0;

        $db_slot = new db_slot();
        
            $db_slot->accountId = $me->id;
        
        foreach ( $db_slot->all_by_accountId() as $db_slot ) {

            $db_customer_tester = new db_customer();
            
                $db_customer_tester->id = $db_slot->customerId;
            
            $db_customer_tester = $db_customer_tester->get();
            
            if ( $db_customer_tester ) {

                if ( ( $db_customer_tester->testdriveStart != "" ) && ( $db_customer_tester->testdriveEnd == "" ) ) {
                    
                    $hasTestOpened ++;
                    
                }
                
            }
            
        }
        
        if ( $hasTestOpened > 0 ) {

            if ( $hasTestOpened == 1 ) {

                ?>
                	<script>
    
                		swal("Tienes un testdrive sin finalizar","Por favor introduce la hora de finalización de la prueba","warning");
                		
                	</script>
                <?php
            
            } else {

                ?>
                	<script>
    
                		swal("Tienes unos testdrive sin finalizar","Por favor introduce las horas de finalización de las pruebas","warning");
                		
                	</script>
            	<?php
                
            }
            
        }
        
    }

?>

-->