<link rel="stylesheet" href="/assets/css/login.css" />
<div class="limiter">
    <div class="container-login100">
        
        <div class="login100-more" style="background-image: url('./assets/img/login.jpg');">
            <div class="pltLogo">
                <img class="logo" src="./assets/img/logo_corporative.png" />
            </div>
        </div>
        
        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">

            <div class="cover">
                <img class="coverImg" src="./assets/img/loading.gif"/>
                <div class="coverInt"></div>
            </div>

            <div class="logoRight" style="font-size:35px; line-height:40px; margin-bottom:70px;">
                <span style="font-weight:800;">CMS</span>
                <br>
                <span style="font-weight:500;">Gestor de citas</span>
            </div>

            <form id="form-current" action="#" method="post" class="login100-form validate-form">
                        
                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Email</span>
                    <input class="input100 checking validate[required,custom[email]]" type="text" id="email" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                    <i id="email_status_ok" class="fa fa-check"></i>
                    <i id="email_status_ko" class="fa fa-exclamation-triangle"></i>
                </div>

                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Contraseña</span>
                    <input class="input100 checking validate[required]" type="password" id="password" name="password" placeholder="*************">
                    <span class="focus-input100"></span>
                    <i id="password_status_ok" class="fa fa-check"></i>
                    <i id="password_status_ko" class="fa fa-exclamation-triangle"></i>
                </div>
                        
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn" style="width:100%;">
                        <div class="login100-form-bgbtn"></div>
                        <a (click)="login()" id="btnLogin" href="javascript:;" class="login100-form-btn">
                            Entrar
                        </a>
                    </div>
                    <a id="btnForgot" href="javascript:;" class="lnk_forgot_account dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30" style="width:100%;">Recupera contraseña</a>
                </div>
            </form>
        </div>
    </div>
</div>