<div class="wrapper">
    <app-header></app-header>

    <div class="content-wrapper" style="border-top:1px solid #eeeeee; background-color:#ffffff;">
        <section class="content-header" style="margin-left:20px; padding-top:30px;">
            <h1 class="font_color_regular font_bold"><i class="fa fa-{{ sectionTitleIcon }}" style="margin-right:20px;"></i>{{ sectionTitle }}</h1>
        
            <div class="callout callout-success badgeDone badgeInfo" style="margin-top:-30px; padding:0px; padding-top:7px; padding-bottom:7px; font-size:12px; font-weight:bold; text-align:left; padding-left:15px; width:315px; position:absolute; right:35px; z-index:9999; display:none;">
                <i class="fa fa-thumbs-o-up" style="margin-right:10px; color:white;"></i>Los datos se han guardado correctamente
            </div>
            <div class="callout callout-success badgeDoneExec badgeInfo" style="margin-top:-30px; padding:0px; padding-top:7px; padding-bottom:7px; font-size:12px; font-weight:bold; text-align:left; padding-left:15px; width:280px; position:absolute; right:35px; z-index:9999; display:none;">
                <i class="fa fa-thumbs-o-up" style="margin-right:10px; color:white;"></i>La petición se ha ejecutado con éxito
            </div>
            
            <div class="callout callout-danger badgeError badgeInfo" style="margin-top:-30px; padding:0px; padding-top:7px; padding-bottom:7px; font-size:12px; font-weight:bold; text-align:left; padding-left:15px; width:375px; position:absolute; right:35px; z-index:9999; display:none;">
                <i class="fa fa-exclamation-triangle" style="margin-right:10px; color:yellow;"></i>Lo sentimos, no ha sido posible guardar los cambios
            </div>
            <div class="callout callout-danger badgeErrorExec badgeInfo" style="margin-top:-30px; padding:0px; padding-top:7px; padding-bottom:7px; font-size:12px; font-weight:bold; text-align:left; padding-left:15px; width:375px; position:absolute; right:35px; z-index:9999; display:none;">
                <i class="fa fa-exclamation-triangle" style="margin-right:10px; color:yellow;"></i>Lo sentimos, no ha sido posible procesar la petición
            </div>
        </section>
    
        <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>