<section class="content" style="margin-left:20px; margin-right:20px; padding-top:25px;">
    <input type="hidden" id="customerId" name="customerId" />
    <input type="hidden" id="signed" name="signed" value="false" />

    <div class="box box-primary">
        <div class="box-body" style="padding-top:20px; border-left:1px solid #cccccc; border-right:1px solid #cccccc;">

            <div class="form-group" style="padding-left:10px;">
                <label for="{{ fields[0] }}" style="margin-right:10px;">Trato</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-tag" style="width:13px; margin-left:-3px;"></i></span>
                    <span class="input-group-addon" style="border-right:0px;">
                        <i id="{{ fields[0] }}_status_ko" style="display:none; color:red;" class="fa fa-exclamation-triangle"></i>
                        <i id="{{ fields[0] }}_status_ok" style="display:none; color:#5cb85c;" class="fa fa-check"></i>
                    </span>
                    <select [(ngModel)]="data[fields[0]]" id="{{ fields[0] }}" name="{{ fields[0] }}" class="form-control validate[required] checking" style="max-width:100px;">
                        <option value=""></option>
                        <option value="SR">Sr.</option>
                        <option value="SRA">Sra.</option>
                    </select>
                </div>
            </div>

            <div class="form-group" style="padding-left:10px;">
                <div class="col-xs-12 col-md-4" style="height:75px; padding-left:0px;">
                    <label for="{{ fields[1] }}" style="margin-right:10px;">Nombre</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user" style="width:10px;"></i></span>
                        <span class="input-group-addon" style="border-right:0px;">
                            <i id="{{ fields[1] }}_status_ko" style="display:none; color:red;" class="fa fa-exclamation-triangle"></i>
                            <i id="{{ fields[1] }}_status_ok" style="display:none; color:#5cb85c;" class="fa fa-check"></i>
                        </span>
                        <input type="text" placeholder="Nombre" id="{{ fields[1] }}" name="{{ fields[1] }}" class="form-control validate[required] checking" [(ngModel)]="data[fields[1]]" />
                    </div>
                </div>
                
                <div class="col-xs-12 col-md-4" style="height:75px; padding-left:0px;">
                    <label for="{{ fields[2] }}" style="margin-right:10px;">Apellido 1</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user" style="width:10px;"></i></span>
                        <span class="input-group-addon" style="border-right:0px;">
                            <i id="{{ fields[2] }}_status_ko" style="display:none; color:red;" class="fa fa-exclamation-triangle"></i>
                            <i id="{{ fields[2] }}_status_ok" style="display:none; color:#5cb85c;" class="fa fa-check"></i>
                        </span>
                        <input type="text" placeholder="Apellido 1" id="{{ fields[2] }}" name="{{ fields[2] }}" class="form-control validate[required] checking" [(ngModel)]="data[fields[2]]" />
                    </div>
                </div>

                <div class="col-xs-12 col-md-4" style="height:75px; padding-left:0px;">
                    <label for="{{ fields[3] }}" style="margin-right:10px;">Apellido 2</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user" style="width:10px;"></i></span>
                        <input type="text" placeholder="Apellido 2" id="{{ fields[3] }}" name="{{ fields[3] }}" class="form-control checking" [(ngModel)]="data[fields[3]]" />
                    </div>
                </div>
            </div>

            <div *ngIf="data.id != ''" class="form-group" style="padding-left:10px;">
                <div class="col-xs-12" style="height:75px; padding-left:0px;">
                    <label for="{{ fields[4] }}" style="margin-right:10px;">DNI</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="far fa-id-card" style="margin-left:-3px; width:13px;"></i></span>
                        <span class="input-group-addon" style="border-right:0px;">
                            <i id="{{ fields[4] }}_status_ko" style="display:none; color:red;" class="fa fa-exclamation-triangle"></i>
                            <i id="{{ fields[4] }}_status_ok" style="display:none; color:#cccccc;" class="fa fa-check"></i>
                        </span>
                        <input type="text" id="{{ fields[4] }}" name="{{ fields[4] }}" placeholder="DNI" class="form-control checking" style="max-width:110px;" [(ngModel)]="data[fields[4]]" />
                    </div>
                </div>
            </div>

            <div *ngIf="data.id != ''" class="form-group" style="padding-left:10px;">
                <div class="col-xs-12" style="height:75px; padding-left:0px;">
                    <label for="{{ fields[5] }}" style="margin-right:10px;">Dirección</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-home" style="margin-left:-3px; width:13px;"></i></span>
                        <span class="input-group-addon" style="border-right:0px;">
                            <i id="{{ fields[5] }}_status_ko" style="display:none; color:red;" class="fa fa-exclamation-triangle"></i>
                            <i id="{{ fields[5] }}_status_ok" style="display:none; color:#cccccc;" class="fa fa-check"></i>
                        </span>
                        <input type="text" id="{{ fields[5] }}" name="{{ fields[5] }}" placeholder="Dirección" class="form-control checking" [(ngModel)]="data[fields[5]]" />
                    </div>
                </div>
            </div>

            <div *ngIf="data.id != ''" class="form-group" style="padding-left:10px;">
                <div class="col-xs-12 col-md-2" style="height:75px; padding-left:0px;">
                    <label for="{{ fields[6] }}" style="margin-right:10px;">CP</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-home" style="margin-left:-3px; width:13px;"></i></span>
                        <span class="input-group-addon" style="border-right:0px;">
                            <i id="{{ fields[6] }}_status_ko" style="display:none; color:red;" class="fa fa-exclamation-triangle"></i>
                            <i id="{{ fields[6] }}_status_ok" style="display:none; color:#cccccc;" class="fa fa-check"></i>
                        </span>
                        <input type="text" placeholder="CP" id="{{ fields[6] }}" name="{{ fields[6] }}" class="form-control validate[custom[number],minSize[5],maxSize[5]] checking" style="max-width:80px;" [(ngModel)]="data[fields[6]]">
                    </div>
                </div>

                <div class="col-xs-12 col-md-5" style="height:75px; padding-left:0px;">
                    <label for="{{ fields[7] }}" style="margin-right:10px;">Población</label>
                        <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-home" style="margin-left:-3px; width:13px;"></i></span>
                        <span class="input-group-addon" style="border-right:0px;">
                            <i id="{{ fields[7] }}_status_ko" style="display:none; color:red;" class="fa fa-exclamation-triangle"></i>
                            <i id="{{ fields[7] }}_status_ok" style="display:none; color:#cccccc;" class="fa fa-check"></i>
                        </span>
                        <input type="text" placeholder="Población" id="{{ fields[7] }}" name="{{ fields[7] }}" class="form-control checking" [(ngModel)]="data[fields[7]]" />
                    </div>
                </div>

                <div class="col-xs-12 col-md-5" style="height:75px; padding-left:0px;">
                    <label for="{{ fields[8] }}" style="margin-right:10px;">Provincia</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-home" style="margin-left:-3px; width:13px;"></i></span>
                        <span class="input-group-addon" style="border-right:0px;">
                            <i id="{{ fields[8] }}_status_ko" style="display:none; color:red;" class="fa fa-exclamation-triangle"></i>
                            <i id="{{ fields[8] }}_status_ok" style="display:none; color:#cccccc;" class="fa fa-check"></i>
                        </span>
                        <select id="{{ fields[8] }}" name="{{ fields[8] }}" [(ngModel)]="data[fields[8]]" class="form-control checking">
                            <option value="">Provincia</option>
                                <!--
                                <?php 
                                
                                    $db_province = new db_province();
                                
                                    foreach ( $db_province->all() as $db_province_item ) {
        
                                        $selected = ""; if ( $db_province_item->id == $db_customer->provinceId ) { $selected = "selected"; } 
                                        
                                        echo "<option value='".$db_province_item->id."' ".$selected." >".$db_province_item->name."</option>";
        
                                    }
        
                                ?>
                                -->
                        </select>
                    </div>
                </div>
            </div>

            <div *ngIf="data.id != ''" class="form-group" style="padding-left:10px;">
                Los datos de DNI y Dirección se solicitan con motivo de hacer llegar esta información a la Dirección General de Tráfico en el caso que este haya cometido alguna infracción de tráfico.
            </div>

            <div class="form-group" style="padding-left:10px;">
                <div class="col-xs-12 col-md-6" style="height:75px; padding-left:0px;">
                    <label for="{{ fields[9] }}" style="margin-right:10px;">Teléfono</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone" style="width:10px;"></i></span>
                        <span class="input-group-addon" style="border-right:0px;">
                            <i id="{{ fields[9] }}_status_ko" style="display:none; color:red;" class="fa fa-exclamation-triangle"></i>
                            <i id="{{ fields[9] }}_status_ok" style="display:none; color:#5cb85c;" class="fa fa-check"></i>
                        </span>
                        <input type="tel" id="{{ fields[9] }}" name="{{ fields[9] }}" placeholder="Teléfono" class="form-control validate[required,custom[number],minSize[9],maxSize[9]] checking" [(ngModel)]="data[fields[9]]" />
                    </div>
                </div>
            
                <div class="col-xs-12 col-md-6" style="height:75px; padding-left:0px;">
                    <label for="{{ fields[10] }}">Email</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-at" style="width:10px;"></i></span>
                        <span class="input-group-addon" style="border-right:0px;">
                            <i id="{{ fields[10] }}_status_ko" style="display:none; color:red;" class="fa fa-exclamation-triangle"></i>
                            <i id="{{ fields[10] }}_status_ok" style="display:none; color:#5cb85c;" class="fa fa-check"></i>
                        </span>
                        <input type="email" id="{{ fields[10] }}" name="{{ fields[10] }}" placeholder="Email" class="form-control validate[required,custom[email]] checking" [(ngModel)]="data[fields[10]]" />
                    </div>
                </div>
            </div>

            <!--
            <div class="form-group" style="padding-left:10px;">
                Teléfono o Email obligatorio.
            </div>
            -->
            
            <div *ngIf="data.id != ''" class="form-group" style="padding-left:10px;">

                <div class="col-xs-12" style="height:190px; padding-left:0px;">
                    <label for="{{ fields[11] }}">Nota</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-info-circle" style="width:10px;"></i></span>
                        <span class="input-group-addon" style="border-right:0px;">
                            <i id="{{ fields[11] }}_status_ko" style="display:none; color:red;" class="fa fa-exclamation-triangle"></i>
                            <i id="{{ fields[11] }}_status_ok" style="display:none; color:#ccc;" class="fa fa-check"></i>
                        </span>
                        <textarea [(ngModel)]="data[fields[11]]" id="{{ fields[11] }}" name="{{ fields[11] }}" class="form-control checking" style="height:150px;"></textarea>
                    </div>
                </div>
            </div>
            
            <div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle" style="margin-top:20px; margin-left:10px; padding-left:2px; border:0px; float:left; width:100%;">
                <span id="ui-id-1" class="ui-dialog-title">
                    <i class="far fa-calendar-alt" style="margin-right:8px; font-size:14px;"></i>Cita
                </span>
                <div style="border-top:1px dotted #4ba82e; margin-top:10px; margin-bottom:10px; margin-right:10px;"></div>
            </div>
                
            <div class="form-group" style="padding-left:10px;">
                <div class="col-xs-12" style="height:75px; padding-left:0px;">
                    <label for="{{ fields[12] }}" style="margin-right:10px;">Instalación</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-warehouse" style="margin-left:-2px;"></i></span>
                        <select [(ngModel)]="data[fields[12]]" id="{{ fields[12] }}" name="{{ fields[12] }}" class="form-control" readonly></select>
                    </div>
                </div>
            </div>

            <div class="form-group" style="padding-left:10px;">
                <div id="platform-bookingDate" class="col-xs-12 col-md-2" style="display:none; height:75px; padding-left:0px;">
                    <label for="{{ fields[13] }}" style="margin-right:10px;">Día</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="far fa-calendar-alt" style="margin-left:-3px; width:13px;"></i></span>
                        <span class="input-group-addon" style="border-right:0px;">
                            <i id="{{ fields[13] }}_status_ko" style="display:none; color:red;" class="fa fa-exclamation-triangle"></i>
                            <i id="{{ fields[13] }}_status_ok" style="display:none; color:#5cb85c;" class="fa fa-check"></i>
                        </span>
                        <select [(ngModel)]="data[fields[13]]" id="{{ fields[13] }}" name="{{ fields[13] }}" class="form-control validate[required] checking" style="max-width:125px;"></select>
                    </div>
                </div>
                <div id="platform-bookingHour" class="col-xs-12 col-md-2" style="display:none; height:75px; padding-left:0px;">
                    <label for="{{ fields[14] }}">Hora</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="far fa-clock" style="margin-left:-3px; width:13px;"></i></span>
                        <span class="input-group-addon" style="border-right:0px;">
                            <i id="{{ fields[14] }}_status_ko" style="display:none; color:red;" class="fa fa-exclamation-triangle"></i>
                            <i id="{{ fields[14] }}_status_ok" style="display:none; color:#5cb85c;" class="fa fa-check"></i>
                        </span>
                        <select [(ngModel)]="data[fields[14]]" id="{{ fields[14] }}" name="{{ fields[14] }}" class="form-control validate[required] checking" style="max-width:150px;"></select>
                    </div>
                </div>
                <div id="platform-sellerId" class="col-xs-12 col-md-4" style="display:none; height:75px; padding-left:0px;">
                    <label for="{{ fields[15] }}">Asesor comercial</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user" style="margin-left:-3px; width:13px;"></i></span>
                        <span class="input-group-addon" style="border-right:0px;">
                            <i id="{{ fields[15] }}_status_ko" style="display:none; color:red;" class="fa fa-exclamation-triangle"></i>
                            <i id="{{ fields[15] }}_status_ok" style="display:none; color:#5cb85c;" class="fa fa-check"></i>
                        </span>
                        <select [(ngModel)]="data[fields[15]]" id="{{ fields[15] }}" name="{{ fields[15] }}" class="form-control validate[required] checking"></select>
                    </div>
                </div>
                <div id="platform-dateType" class="col-xs-12 col-md-2" style="display:none; height:75px; padding-left:0px;">
                    <label for="{{ fields[16] }}">Tipo de cita</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="far fa-clock" style="margin-left:-3px; width:13px;"></i></span>
                        <span class="input-group-addon" style="border-right:0px;">
                            <i id="{{ fields[16] }}_status_ko" style="display:none; color:red;" class="fa fa-exclamation-triangle"></i>
                            <i id="{{ fields[16] }}_status_ok" style="display:none; color:#5cb85c;" class="fa fa-check"></i>
                        </span>
                        <select [(ngModel)]="data[fields[16]]" id="{{ fields[16] }}" name="{{ fields[16] }}" class="form-control validate[required] checking" style="max-width:150px;"></select>
                    </div>
                </div>
            </div>
            
            <div class="form-group" style="margin-top:5px; float:left; width:100%;">
                <div class="input-group">
                    <div class="form-control" style="border:0px; box-shadow:none;">
                        <label for="{{ fields[17] }}" style="margin-right:10px; float:left;">¿ El cliente ha asistido a la cita ?</label>
                        <label style="float:left;  margin-left:1em;" for="{{ fields[17] }}-si"> Sí</label><input type="radio" id="{{ fields[17] }}-si" name="{{ fields[17] }}" class="checkbox" style="float:left; margin-left:1em;" value="1" [checked]="(data.attended == '1')" />
                        <label style="float:left;  margin-left:1em;" for="{{ fields[17] }}-no"> No</label><input type="radio" id="{{ fields[17] }}-no" name="{{ fields[17] }}" class="checkbox" style="float:left; margin-left:1em;" value="-1" [checked]="(data.attended == '-1')" />
                    </div>
                </div>
            </div>		
            <div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle" style="margin-top:20px; margin-left:10px; padding-left:2px; border:0px; float:left; width:100%;">
                <span id="ui-id-1" class="ui-dialog-title">
                    <i class="fas fa-file-signature" style="margin-right:8px; font-size:14px;"></i>Términos y Condiciones
                </span>
                <div style="border-top:1px dotted #4ba82e; margin-top:10px; margin-bottom:10px; margin-right:10px;"></div>
            </div>

            <div class="form-group" style="padding-left:10px;">
                <div class="col-xs-12" style="padding-left:0px;">
                    <br>
                    <label for="{{ fields[18] }}" style="font-weight:600;">Deseo estar al corriente de lanzamientos, productos y servicios y recibir información de sorteos y promociones de la marca Škoda.</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-file-signature" style="margin-left:-3px; width:13px;"></i></span>
                        <select [(ngModel)]="data[fields[18]]" id="{{ fields[18] }}" name="{{ fields[18] }}" class="form-control validate[required] checking" style="max-width:70px;" readonly disabled >
                            <option value=""></option>
                            <option value="0">No</option>
                            <option value="1">Sí</option>
                        </select>
                        <input type="hidden" id="{{ fields[18] }}" name="{{ fields[18] }}" [(ngModel)]="data[fields[18]]" />
                    </div>
                    <br>
                    <label for="{{ fields[19] }}" style="font-weight:600;">Deseo que personalicen mis comunicaciones de la marca Škoda adaptándolas a mi perfil.</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fas fa-file-signature" style="margin-left:-3px; width:13px;"></i></span>
                        <select [(ngModel)]="data[fields[19]]" id="{{ fields[19] }}" name="{{ fields[19] }}" class="form-control validate[required] checking" style="max-width:70px;" readonly disabled >
                            <option value=""></option>
                            <option value="0">No</option>
                            <option value="1">Sí</option>
                        </select>
                        <input type="hidden" id="{{ fields[19] }}" name="{{ fields[19] }}" [(ngModel)]="data[fields[19]]" />
                    </div>
                    <br>
                    <span style="font-size:10px;">
                        En cumplimiento de lo dispuesto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016, así como en la normativa nacional aplicable en materia de protección de datos, te informamos que el responsable del tratamiento de tus datos es la compañía Volkswagen Group España Distribución. <br>
                        El tratamiento de tus datos se llevará a cabo para el mantenimiento, desarrollo y/o control de nuestra relación comercial; atender a tus consultas y solicitudes; realizar un control de calidad sobre los productos y servicios por los que te hayas interesado; realizar encuestas de opinión y estudios de mercado con fines estadísticos. Y en caso de que nos hayas dado tu consentimiento, para las finalidades descritas en los consentimientos adicionales. El tratamiento de tus datos está legitimado para la gestión y mantenimiento del servicio solicitado, así como, en su caso, tu consentimiento adicional expreso. Tus datos también podrán ser cedidos al concesionario/servicio oficial que hayas seleccionado, si has seleccionado alguno, para la prestación del servicio solicitado o dar respuesta a la petición que hayas realizado (por ejemplo la prueba de un vehículo o envío de un presupuesto solicitado). <br>
                        Asimismo, te informamos que parte de los sistemas utilizados están ubicados en EE.UU. lo que supone una transferencia internacional de datos, autorizada por la Agencia Española de Protección de Datos. <br>
                        En el caso que proporcione datos de carácter personal de terceras personas, garantiza haberles trasladado el contenido de la presente cláusula y haber obtenido, previamente, su consentimiento informado para el tratamiento de sus datos de carácter personal por VOLKSWAGEN GROUP ESPAÑA DISTRIBUCIÓN, S.A. Te informamos que tienes derecho a retirar tus consentimientos en cualquier momento, así como oponerte al tratamiento, limitar el mismo, acceder, rectificar, suprimir los datos y ejercer tu derecho a portabilidad, mediante el envío de un mail a: atencioncliente@skoda.es <br>
                        Si quieres más información sobre nuestra política de privacidad visita nuestra <a href="http://www.skoda.es/conoce-skoda/aviso-legal" target="_blank">página web</a>.
                    </span>                         
                    <br><br>
                </div>
            </div>
            
            <!--<div class="ui-dialog-titlebar ui-corner-all ui-widget-header ui-helper-clearfix ui-draggable-handle" style="margin-top:20px; margin-left:10px; padding-left:2px; border:0px; float:left; width:100%;">
                <span id="ui-id-1" class="ui-dialog-title">
                    <i class="fa fa-road" style="margin-right:8px; font-size:14px;"></i>Prueba
                </span>
                <div style="border-top:1px dotted #4ba82e; margin-top:10px; margin-bottom:10px; margin-right:10px;"></div>
            </div>-->

            <div class="form-group" style="padding-left:10px;">
                <div id="platform-bookingDate" class="col-xs-12" style="padding-left:0px;">
                <!--	<section id="platformSignature" class="content" style="padding:5px; padding-top:15px; min-height:0px;"></section>-->
                    <a href="javascript:;" id="btn-submit" class="btn btn-danger" style=" margin-bottom:10px;"><i class="fa fa-save" style="margin-right:5px;"></i>
                    
                    <span id="btn-submit-txt">Guardar</span></a>
                </div>
            </div>
        </div>
    </div>
</section>