<section class="content" style="margin-left:20px; margin-right:20px; padding-top:25px;">

    <div class="box box-primary">

          <div class="box-body" style="border-left:1px solid #cccccc; border-right:1px solid #cccccc;">
            <div class="box-body table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="datatable" class="display table table-bordered table-striped">
                    <thead>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; text-align:left; font-size:12px; width:75px;">
                            <i class="fa fa-barcode" style="margin-right:10px;"></i>Código
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; text-align:left; font-size:12px; ">
                            <i class="fa fa-warehouse" style="margin-right:10px;"></i>Nombre
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; text-align:left; font-size:12px; width:75px;">
                            <i class="fa fa-phone" style="margin-right:10px;"></i>Teléfono
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; text-align:left; font-size:12px;">
                            <i class="fa fa-map-marker" style="margin-right:10px;"></i>Dirección
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; text-align:left; font-size:12px; ">
                            <i class="fa fa-calendar" style="margin-right:10px;"></i>Calendario
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; text-align:left; font-size:12px; ">
                            <i class="fa fa-handshake" style="margin-right:10px;"></i>Tipo de cita
                        </th>
                        <th class="no-sort" style="border-top:0px; border-bottom:3px solid #ddd; text-align:center; width:0px; padding-left:3px; padding-right:0px; font-size:10px;">
                            <i class='fa fa-thumbs-up' style='margin-top:5px; margin-left:-4px;'></i>
                        </th>
                        <th class="no-sort" style="border-top:0px; border-bottom:3px solid #ddd; text-align:center; width:0px; padding-left:10px; padding-right:10px; font-size:10px;">
                            Editar
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items">
                            <td *ngFor="let column of columns" [innerHTML]="item[column.data] | safe: 'html'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
      </div>
</section>