<section class="content" style="margin-left:20px; margin-right:20px; padding-top:25px;">
    <div class="box box-primary">
        <div class="box-body" style="padding-top:15px; padding-left:20px; padding-bottom:15px; border-left:1px solid #cccccc; border-right:1px solid #cccccc; text-align:left;">
            <div *roles="'1,2'">
                <div class="box-header with-border" style="padding-bottom:20px;">
                    <a href="/documents/edit/new" id="btnAdd" class="btn btn-primary"><i class="far fa-document" style="float:left; margin-top:3px;"></i><i class="fa fa-plus" style="float:left; font-size:8px; margin-left:2px; margin-right:10px;"></i>Alta documento</a>
                </div>

                <br>
            </div>

            <div *ngIf="documentList.length > 0">
                <ul style="margin-bottom: 0px;">
                    <li *ngFor="let document of documentList">
                        <a target="_blank" href="./uploads/{{ document.filename }}" download>
                            {{ document.name }}
                        </a>
                        <button *roles="'1,2'" style="margin-left: 5px;" data-name="{{ document.name }}" data-id="{{ document.id }}" type="button" class="btn btn-danger btnRemoveDocument">Eliminar</button>
                    </li>
                </ul>
            </div>
            <div *ngIf="documentList.length == 0">
                <div style="margin-bottom: 15px;">No se han encontrado documentos</div>
            </div>
            <ul *roles="'4'">
                <li>Url personalizada: <a href="http://simplycleverdays.com/?c=87619405&i={{ code }}">http://simplycleverdays.com/?c=87619405&i={{ code }}</a></li>
            </ul>
        </div>
    </div>
</section>