@font-face {
font-family: 'SkodaPro';
src: url('/assets/fonts/Assets.font.skodapro-light.798fa35a86bb812bc1de9d36f922d250.ttf') format('truetype');
font-weight: 200;
font-style: normal;
}
@font-face {
font-family: 'SkodaPro';
src: url('/assets/fonts/Assets.font.skodapro-lightitalic.08efc62404f31a5b55ac0730166e172f.ttf') format('truetype');
font-weight: 200;
font-style: italic;
}
@font-face {
font-family: 'SkodaPro';
src: url('/assets/fonts/Assets.font.skodapro-regular.3b9009f234f857deff16c49f002b11b7.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}
@font-face {
font-family: 'SkodaPro';
src: url('/assets/fonts/Assets.font.skodapro-regularitalic.8c529914871cdc0dd5d0c2bf330ca431.ttf') format('truetype');
font-weight: 400;
font-style: italic;
}
@font-face {
font-family: 'SkodaPro';
src: url('/assets/fonts/Assets.font.skodapro-medium.502491108d7efc7c13bdf491bea20da4.ttf') format('truetype');
font-weight: 600;
font-style: normal;
}
@font-face {
font-family: 'SkodaPro';
src: url('/assets/fonts/Assets.font.skodapro-mediumitalic.0cb47e5bb4fd83fe3c0ddc67adb34cd5.ttf') format('truetype');
font-weight: 600;
font-style: italic;
}
@font-face {
font-family: 'SkodaPro';
src: url('/assets/fonts/Assets.font.skodapro-bold.41ab138ddb0911e156d6853ae7364c7e.ttf') format('truetype');
font-weight: 800;
font-style: normal;
}
@font-face {
font-family: 'SkodaPro';
src: url('/assets/fonts/Assets.font.skodapro-bolditalic.b3824343efb69b1b64e928b1c9f09985.ttf') format('truetype');
font-weight: 800;
font-style: italic;
}
@font-face {
font-family: 'SkodaPro';
src: url('/assets/fonts/Assets.font.skodapro-extrabold.10d871b4e2f9fb7a25040f81af45cdbe.ttf') format('truetype');
font-weight: 900;
font-style: normal;
}
@font-face {
font-family: 'SkodaPro';
src: url('/assets/fonts/Assets.font.skodapro-extrabolditalic.ae8596fe95d3b2f0534b46805a2c2581.ttf') format('truetype');
font-weight: 900;
font-style: italic;
}

body { font-family: 'SkodaPro'; font-weight: 400; }
b { font-family: 'SkodaPro'; font-weight: 800; }

.font_color_corporate { color:#4ba82e; }
.font_color_regular { color:#3d3d3f; }

.font_light { font-weight:300; }
.font_regular { font-weight:400; }
.font_bold { font-weight:600; }

.ui-dialog-titlebar { font-size:12px !important; color:#4ba82e !important; }
.ui-dialog-title { margin-left:0px !important; margin-top:2px !important; margin-bottom:0px !important; }
.ui-button-text { font-size:9px; }
.ui-dialog-content, .ui-dialog-content p { font-size:14px !important; }
.ui-dialog-buttonpane { height:40px; }
.ui-dialog-buttonpane .ui-button { font-size:12px; padding:4px 7px 4px 7px; font-weight:400; }
.ui-widget-overlay { z-index: 2000; }
.ui-dialog-titlebar-close { display:none; }

.dataTables_length { font-size:10px !important; }
.dataTables_length label select { width:50px !important; }
.dataTables_filter { font-size:10px !important; }
.paginate_button { padding:3px !important; font-size:10px !important; font-weight:bold; background:none !important; }
.dataTables_info { font-size:10px !important; }

.dataTable tbody tr { cursor: pointer; cursor: hand; }
.dataTable tbody tr:hover { color:#4ba82e; }

.select2-selection ul li { color:#3d3d3f !important; }

.dataTable tbody tr td { padding-left:17px !important; }


.navbar-custom-menu .navbar-nav li a { font-size:13px; }
.navbar-custom-menu .navbar-nav li a:hover {  }
.navbar-custom-menu .navbar-nav li a.selected { color:#4ba82e !important; background-color:#fcfcfc; font-weight:800; }
.navbar-custom-menu .navbar-nav li a i { font-size:13px; }
.navbar-custom-menu .navbar-nav li a span { margin-left:10px; font-size:16px;  }

.swal-modal .swal-title { font-size:21px; }
.swal-modal .swal-button { background-color:#4ba82e; }
.swal-modal .swal-button:hover { background-color:#33731f; }

.dataTable tbody tr, .dataTable tbody tr td, .dataTable tbody tr td label { cursor:default; cursor:default; }
.dataTable tbody tr td a { cursor:pointer; cursor:pointer; }