.uploader a, uploader a:visited {
    outline:none;
    color:#389dc1;
}

a:hover{
    text-decoration:none;
}

section, footer, header, aside{
    display: block;
}


/*----------------------------
    The file upload form
-----------------------------*/


.uploader{
    font-family:'PT Sans Narrow', sans-serif;
    background-color:#ffffff;

   

    width:250px;
    padding:30px;
    padding-bottom:0px;
    border-radius:0px;

    margin:0px;
    /*box-shadow: 2px 1px 1px rgba(60, 141, 188, 1);*/
    margin-left:0px;
    width:100%;
}

.drop
{
    background-color: #ffffff;
    padding: 10px 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size:15px;
    font-weight:bold;
    color:#666666;
}

.drop a
{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

.drop a:hover{
    background-color:#3c8dbc;
}

.drop input{
    display:none;
}

.uploader ul
{
    list-style:none;
    /*
    border-top:1px solid #3c8dbc;
    border-bottom:1px solid #3c8dbc;
    */
    padding-left:0px;
}

.uploader ul li
{
    background-color:#ffffff;

    /*
    background-image:-webkit-linear-gradient(left, #333333, #ffffff);
    background-image:-moz-linear-gradient(left, #333333, #ffffff);
    background-image:linear-gradient(left, #333333, #ffffff);
    */

    padding:15px;
    height: 80px;

    position: relative;
}

.uploader ul li input{
    display: none;
}

.uploader ul li p{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

.uploader ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

.uploader ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

.uploader ul li span
{
    width: 15px;
    height: 12px;
    background: url('/assets/img/uploader/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    left:48px;
    cursor:pointer;
}

.uploader ul li.working span
{
    height: 16px;
    background-position: 0 -12px;
}

.uploader ul li.error p, .uploader ul li.error i
{
    color:red !important;
}


/*----------------------------
    The Demo Footer
-----------------------------*/


footer{
    background-color: #080808;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
    height: 40px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
}

footer h2{
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top:0;
    left: 50%;
    bottom:0;
    margin-left: -420px;
    padding:13px 20px 0;
    border:1px solid #000;
    border-width:0 1px;
    background-color:rgba(0,0,0,0.6);
    box-shadow:0 0 5px #000 inset;
    line-height: 1;
    margin-top: 0;
}

footer h2 a{
    color: #EEEEEE !important;
    text-decoration:none !important;
}

footer h2 i{
    font-style:normal;
    color:#888;
}

#tzine-download{
    opacity:0.9;
    background-color:#257691;
    font-size:11px;
    text-align:center;
    text-transform:uppercase;
    width:150px;
    height:28px;
    line-height:28px;
    text-decoration:none !important;

    display: inline-block;
    border-radius: 2px;
    color: #fff !Important;
    font-weight: bold;
    box-shadow: 0 -1px 2px #1e5e74 inset;

    border-top:1px solid #26849c;

    text-shadow:1px 1px 1px #1e6176;
    margin-top:6px;
}

#tzine-download:hover{
    opacity:1;
}

#tzine-actions{
    position:absolute;
    top:0;
    width:500px;
    right:50%;
    margin-right:-420px;
    text-align:right;
}

#tzine-actions iframe{
    display: inline-block;
    height: 21px;
    width: 95px;
    position: relative;
    float: left;
    margin-top: 11px;
}