<section class="content" style="margin-left:20px; margin-right:20px; padding-top:25px;">
    <div id="platform_btnAdd" class="box-header with-border" style="padding-bottom:20px;">
        <a href="/bookings/edit/new" target="_blank" id="btnAdd" class="btn btn-primary"><i class="fa fa-user" style="float:left; margin-top:3px;"></i><i class="fa fa-plus" style="float:left; font-size:8px; margin-left:2px; margin-right:10px;"></i>Alta cita</a>
            <!--<div style="text-align:right; float:right; margin-top:10px;" class=""><div class="dataTables_filter"><label style="font-family: 'SkodaPro'; font-weight:400;">Buscador:&#160;&#160;<input type="search" id="search" style="width:250px;"></label></div></div>-->
        </div>
        <div class="box box-primary">
            <div class="box-body" style="border-left:1px solid #cccccc; border-right:1px solid #cccccc;">
                <div class="box-header" style="margin-top:10px;">
                    <input type="radio" (click)="dtReload()" [(ngModel)]="filterType" id="filterType_T" name="filterType" class="filterType" value="ALL" style="margin-left:5px;" checked /> Todas las citas
                    <input type="radio" (click)="dtReload()" [(ngModel)]="filterType" id="filterType_P" name="filterType" class="filterType" value="WAITING" style="margin-left:15px;" /> Citas pendientes
                    <input type="radio" (click)="dtReload()" [(ngModel)]="filterType" id="filterType_R" name="filterType" class="filterType" value="DONE" style="margin-left:15px;" /> Citas realizadas&#160;&#160;&#160;&#160;&#160;&#160;/
                    del 
                    <select [(ngModel)]="filterDay" id="filterDay" name="filterDay" style="margin-left:5px;"></select>
                    <select [(ngModel)]="filterDealership" id="filterDealership" name="filterDealership" style="float:right; display:none;"></select>
                </div>
            </div>
        </div>

    <div class="box box-primary">
        <div class="box-body" style="border-left:1px solid #cccccc; border-right:1px solid #cccccc;">
            <div class="box-body table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="datatable" class="display table table-bordered table-striped">
                    <thead *ngIf="isAdmin()">
                        <th style="border-top:0px; border-bottom:3px solid #ddd; font-size:9px;">
                            <i class="fa fa-warehouse" style="margin-right:10px;"></i>Instalación
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; font-size:9px;">
                            <i class="fa fa-user" style="margin-right:10px;"></i>Assesor comercial
                        </th>    	                    					
                        <th style="border-top:0px; border-bottom:3px solid #ddd; font-size:9px;">
                            <i class="fa fa-handshake" style="margin-right:10px;"></i>Tipo de cita
                        </th>
                        <th class="no-sort" style="border-top:0px; border-bottom:3px solid #ddd; text-align:center; padding-left:0px; padding-right:0px; font-size:9px; width:100px;">
                            <i class="far fa-calendar-alt" style="margin-right:10px;"></i>Fecha y Hora
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; text-align:left; font-size:9px;">
                            <i class="fa fa-user" style="margin-right:10px;"></i>Cliente
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; text-align:left; font-size:9px;">
                            <i class="fa fa-phone" style="margin-right:10px;"></i>Teléfono
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; text-align:left; font-size:9px;">
                            <i class="fa fa-envelope" style="margin-right:10px;"></i>Email
                        </th>
                        <th class="no-sort" style="border-top:0px; border-bottom:3px solid #ddd; text-align:center; font-size:9px; width:20px; padding-left:0px; padding-right:0px;">
                            <i class="fa fa-info"></i>
                        </th>
                        <th class="no-sort" style="border-top:0px; border-bottom:3px solid #ddd; text-align:center; font-size:9px; width:50px; padding-left:0px; padding-right:0px;">
                            Asistido
                        </th>
                        <th class="no-sort" style="border-top:0px; border-bottom:3px solid #ddd; text-align:center; font-size:9px; width:50px; padding-left:0px; padding-right:0px;">
                            Ficha
                        </th>
                    </thead>
                    
                    <thead *ngIf="isGgzz()">
                        <th style="border-top:0px; border-bottom:3px solid #ddd; font-size:9px;">
                            <i class="fa fa-warehouse" style="margin-right:10px;"></i>Instalación
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; font-size:9px;">
                            <i class="fa fa-user" style="margin-right:10px;"></i>Asesor comercial
                        </th>    	                    					
                        <th style="border-top:0px; border-bottom:3px solid #ddd; font-size:9px;">
                            <i class="fa fa-user" style="margin-right:10px;"></i>Tipo de cita
                        </th>
                        <th class="no-sort" style="border-top:0px; border-bottom:3px solid #ddd; text-align:center; padding-left:0px; padding-right:0px; font-size:9px; width:100px;">
                            <i class="far fa-calendar-alt" style="margin-right:10px;"></i>Fecha y Hora
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; text-align:left; font-size:9px;">
                            <i class="fa fa-user" style="margin-right:10px;"></i>Cliente
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; text-align:left; font-size:9px;">
                            <i class="fa fa-phone" style="margin-right:10px;"></i>Teléfono
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; text-align:left; font-size:9px;">
                            <i class="fa fa-envelope" style="margin-right:10px;"></i>Email
                        </th>
                        <th class="no-sort" style="border-top:0px; border-bottom:3px solid #ddd; text-align:center; font-size:9px; width:20px; padding-left:0px; padding-right:0px;">
                            <i class="fa fa-info"></i>
                        </th>
                        <th class="no-sort" style="border-top:0px; border-bottom:3px solid #ddd; text-align:center; font-size:9px; width:50px; padding-left:0px; padding-right:0px;">
                            Asistido
                        </th>
                    </thead>
                    
                    <thead *ngIf="isDealer()">
                        <th style="border-top:0px; border-bottom:3px solid #ddd; font-size:9px;">
                            <i class="fa fa-warehouse" style="margin-right:10px;"></i>Instalación
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; font-size:9px;">
                            <i class="fa fa-user" style="margin-right:10px;"></i>Asesor comercial
                        </th>    	                    					
                        <th style="border-top:0px; border-bottom:3px solid #ddd; font-size:9px;">
                            <i class="fa fa-user" style="margin-right:10px;"></i>Tipo de cita
                        </th>
                        <th class="no-sort" style="border-top:0px; border-bottom:3px solid #ddd; text-align:center; padding-left:0px; padding-right:0px; font-size:9px; width:100px;">
                            <i class="far fa-calendar-alt" style="margin-right:10px;"></i>Fecha y Hora
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; text-align:left; font-size:9px;">
                            <i class="fa fa-user" style="margin-right:10px;"></i>Cliente
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; text-align:left; font-size:9px;">
                            <i class="fa fa-phone" style="margin-right:10px;"></i>Teléfono
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; text-align:left; font-size:9px;">
                            <i class="fa fa-envelope" style="margin-right:10px;"></i>Email
                        </th>
                        <th class="no-sort" style="border-top:0px; border-bottom:3px solid #ddd; text-align:center; font-size:9px; width:20px; padding-left:0px; padding-right:0px;">
                            <i class="fa fa-info"></i>
                        </th>
                        <th class="no-sort" style="border-top:0px; border-bottom:3px solid #ddd; text-align:center; font-size:9px; width:50px; padding-left:0px; padding-right:0px;">
                            Asistido
                        </th>
                        <th class="no-sort" style="border-top:0px; border-bottom:3px solid #ddd; text-align:center; font-size:9px; width:50px; padding-left:0px; padding-right:0px;">
                            Ficha
                        </th>
                    </thead>

                    <thead *ngIf="isDriver()">
                        <th class="no-sort" style="border-top:0px; border-bottom:3px solid #ddd; text-align:center; padding-left:0px; padding-right:0px; font-size:9px; width:100px;">
                            <i class="far fa-calendar-alt" style="margin-right:10px;"></i>Fecha y Hora
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; text-align:left; font-size:9px;">
                            <i class="far fa-id-card" style="margin-right:10px;"></i>Driver
                        </th>
                        <th style="border-top:0px; border-bottom:3px solid #ddd; text-align:left; font-size:9px;">
                            <i class="fa fa-user" style="margin-right:10px;"></i>Cliente
                        </th>
                        <th class="no-sort" style="border-top:0px; border-bottom:3px solid #ddd; text-align:center; font-size:9px; width:20px; padding-left:0px; padding-right:0px;">
                            <i class="fa fa-info"></i>
                        </th>
                        <th class="no-sort" style="border-top:0px; border-bottom:3px solid #ddd; text-align:center; font-size:9px; width:50px; padding-left:0px; padding-right:0px;">
                            Asistido
                        </th>
                        <th class="no-sort" style="border-top:0px; border-bottom:3px solid #ddd; text-align:center; font-size:9px; width:50px; padding-left:0px; padding-right:0px;">
                            Ficha
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items">
                            <td *ngFor="let column of columns" [innerHTML]="item[column.data] | safe: 'html'"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
        </div>
    </div>
</section>